<div class="loginwrapper">
  
    <div class="loginformwrapper">
        <h1 class="text-center">Login Form</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="username" class="form-control"  placeholder="Username" formControlName="username">
                <label for="username">Username</label>
                <div class="text-danger" *ngIf="(loginForm.get('username')?.touched || submitted) && loginForm.get('username')?.errors?.['required']">
                    Username is required
                </div>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" required formControlName="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
                <div class="text-danger" *ngIf="(loginForm.get('password')?.touched || submitted) && loginForm.get('password')?.errors?.['required']">
                    Password is required
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
        </form>
    </div>
</div>
