.sidenav_menu{
    padding: 0;
    margin: 0;
    li{
        padding: 0;
        margin: 0;  
        list-style-type: none;
        padding: 8px 16px;
        border-radius: 16px;
        color: #fff;
        margin-bottom: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        &.activemenu{
            background: #fff;
            color: #000;
        }
        .menu-icon{
            margin-right: 8px;
            font-size: 18px;
            width: 18px;
            text-align: center;
        }
        .menu-name{
            @media screen and (max-width:767px){
                
            }
        }
    }
}
// :host ::ng-deep app-header header ul li .menuCollase {
//     color: #ffffff;
//     position: relative;
//     top: 16px;
//     right: 37px;
//     z-index: 9999999;
//     font-size: 25px;
//   }

@media screen and (max-width:767px){
  ::ng-deep {
    app-side-nav {
      .sidenav_menu {
        li {
          text-align: center;
          display: flex !important;
          border-radius: 24px !important;
          .menu-icon{
            margin-right: 0 !important;
          }
          .menu-name {
            display: none !important;
          }
        }
      }
      &.collapsed{
        .sidenav_menu {
          li {
            .menu-name {
              display: block !important;
            }
          }
        }
      }
    }
    // app-side-nav.collapsed {
    //   .sidenav_menu {
    //     li {
    //       text-align: center;
    //       display: block !important;
    //       border-radius: 24px !important;
    //       .menu-icon{
    //         margin-right: 0 !important;
    //       }
    //       .menu-name {
    //         display: none !important;
    //       }
    //     }
    //   }
    // }
  }
}

  

  
