.sidenav_menu{
    padding: 0;
    margin: 0;
    li{
        padding: 0;
        margin: 0;  
        list-style-type: none;
        background: #fff;
        padding: 8px 16px;
        border-radius: 16px;
    }
}