/* You can add global styles to this file, and also import other style files */
.btn{
    padding: 4px 16px !important;
    cursor: pointer;
}
.btn+.btn{
    margin-left: 8px;
}

.btn-primary {
    background-color: #005aa3 !important;
    border-color: #005aa3 !important;
    color: #fff;
}

.btn-primary:hover {
    background-color: #035394 !important;
    border-color: #035394 !important;
}


.form-floating{
    margin-bottom: 18px !important;
}
.form-floating>label{
    padding: 8px 13px !important;  
}
.form-floating>.form-control:focus~label{
    transform: scale(0.85) translateY(-1.5rem) translateX(.15rem) !important;
}
.form-floating>.form-control {
    padding: 8px 13px !important;
    height: 40px !important;
    min-height:40px !important;
}
.form-control:focus{
    border-color: #585858 !important;
    outline: 0 !important;
    box-shadow: none !important; 
}
.form-floating>.form-control:not(:placeholder-shown)~label {
    transform: scale(.85) translateY(-1.5rem) translateX(.15rem) !important;
}
.text-danger{
    font-size: 13px;
}